.filedrag-droparea
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

.filedrag-display-filename {
	word-wrap:break-word;
}

.filedrag-droparea.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.filedrag-preview
{
	max-width: 100%;
}

.filedrag-progress p
{
	display: block;
	width: 100%;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("../img/progress.png") 100% 0 repeat-y;
}

.filedrag-progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

.filedrag-progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}